<option value="" {% if selected.is_none() %}selected{% endif %}>Select Profession</option>
<option value="electrician" {% if let Some(WorkerProfession::Electrician) = selected %}selected{% endif %}>Electrician</option>
<option value="plumber" {% if let Some(WorkerProfession::Plumber) = selected %}selected{% endif %}>Plumber</option>
<option value="welder" {% if let Some(WorkerProfession::Welder) = selected %}selected{% endif %}>Welder</option>
<option value="driver" {% if let Some(WorkerProfession::Driver) = selected %}selected{% endif %}>Driver</option>
<option value="mason" {% if let Some(WorkerProfession::Mason) = selected %}selected{% endif %}>Mason</option>
