<option value="" {% if not selected %}selected{% endif %}>Select Profession</option>
<option value="electrician" {% if selected == "electrician" %}selected{% endif %}>Electrician</option>
<option value="plumber" {% if selected == "plumber" %}selected{% endif %}>Plumber</option>
<option value="welder" {% if selected == "welder" %}selected{% endif %}>Welder</option>
<option value="driver" {% if selected == "driver" %}selected{% endif %}>Driver</option>
<option value="mason" {% if selected == "mason" %}selected{% endif %}>Mason</option>
