{% if personnel.is_empty() %}
<tr>
    <td colspan="5" class="px-6 py-4 text-center">
        <p class="text-gray-500">No personnel found</p>
    </td>
</tr>
{% else %}
    {% for person in personnel %}
    <tr class="hover:bg-gray-50">
        <td class="px-6 py-4 whitespace-nowrap">
            <a href="/personnel/technical/{{ person.id }}" class="text-blue-600 hover:underline font-medium">
                {{ person.name }}
            </a>
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
            {{ person.qualification }}
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
            {% if let Some(position) = person.position %}
                {{ position }}
            {% else %}
                <span class="text-gray-400">-</span>
            {% endif %}
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
            {{ person.education_level }}
        </td>
        <td class="px-6 py-4 whitespace-nowrap text-right">
            <div class="flex justify-end space-x-2">
                <a href="/personnel/technical/{{ person.id }}" class="px-2 py-1 text-blue-600 hover:bg-blue-100 rounded">
                    <i class="fas fa-eye"></i>
                </a>
                <a href="/personnel/technical/{{ person.id }}/edit" class="px-2 py-1 text-gray-600 hover:bg-gray-100 rounded">
                    <i class="fas fa-pencil"></i>
                </a>
            </div>
        </td>
    </tr>
    {% endfor %}

    <!-- Pagination information - will be used by parent pagination control -->
    <tr class="hidden">
        <td id="pagination-info" data-current-page="{{ current_page }}" data-total-pages="{{ total_pages }}"></td>
    </tr>
{% endif %}
