<div class="form-validation" id="form-validation-{{ form_type }}">
    {% for message in messages %}
        <div class="field-validation" data-field="{{ message.field }}">
            {% if message.is_valid %}
                <div class="text-green-600 text-sm flex items-center mt-1">
                    <svg class="w-4 h-4 mr-1" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                    </svg>
                    {% if let Some(msg) = message.message %}
                        {{ msg }}
                    {% else %}
                        Valid
                    {% endif %}
                </div>
            {% else %}
                <div class="text-red-600 text-sm flex items-center mt-1">
                    <svg class="w-4 h-4 mr-1" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd"></path>
                    </svg>
                    {% if let Some(msg) = message.message %}
                        {{ msg }}
                    {% else %}
                        Invalid
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
    
    {% if !is_valid %}
        <div class="form-error mt-4 p-3 bg-red-50 border border-red-200 rounded-md">
            <p class="text-red-700 text-sm">Please correct the errors above before submitting the form.</p>
        </div>
    {% endif %}
</div>
