<option value="">Any Fuel Type</option>
<option value="diesel" {% if let Some(sel) = selected %}{% match sel %}{% when FuelType::Diesel %}selected{% else %}{% endmatch %}{% endif %}>Diesel</option>
<option value="petrol" {% if let Some(sel) = selected %}{% match sel %}{% when FuelType::Petrol %}selected{% else %}{% endmatch %}{% endif %}>Petrol</option>
<option value="electric" {% if let Some(sel) = selected %}{% match sel %}{% when FuelType::Electric %}selected{% else %}{% endmatch %}{% endif %}>Electric</option>
<option value="gas" {% if let Some(sel) = selected %}{% match sel %}{% when FuelType::Gas %}selected{% else %}{% endmatch %}{% endif %}>Gas</option>
<option value="none" {% if let Some(sel) = selected %}{% match sel %}{% when FuelType::None %}selected{% else %}{% endmatch %}{% endif %}>None</option>
